.container {
  max-width: 400px;
  margin: 50px auto;
}

.img-container {
  text-align: center;
  margin: 20px 0;
}

.zaruce-image {
  width: 200px;
  height: auto;
}

button {
  display: table-cell;
  max-width: 600px;
}
img {
  background-image: url("/assets/images/transferir.jpg");
  background-repeat: no-repeat;
  background-position: right top;

}
