<div class="card">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="card-body">
      <label for="username">Usuário</label>
      <input type="text" id="username" autocomplete="off" formControlName="login" required>

      <label for="password">Senha</label>
      <input type="password" id="password" autocomplete="off" formControlName="senha" required>
    </div>

    <div class="card-footer">
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>
